/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    padding-top: 56px;
  }
  
  h1 {
    font-style: italic;
    color: #2cd3e1;
  }
  
  a.carousel-control-prev:hover,
  a.carousel-control-next:hover {
    background-color: #a459d166;
  }
  
  .carousel-indicators li {
    background-color: #a459d1;
  }
  
  .card img{
    display: flex;
    width: 100%;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  
  /* Change these colors */
  .brand-main {
    background-color: #4A2A1E;

    /* Main Background Color */
  }
  
  .brand {
    color: #4A2A1E;
    background-color: #F2DABD; /* Header and Footer bar Color */
  }
  
  .text-truncate-11 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
  }

  .navbar-brand {
    color: #4A2A1E;
  }

  a {
    color: #4A2A1E;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%234A2A1E' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-nav a {
    color: #4A2A1E;
  }

