.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 668px;
    padding: 0px;
}

.rounded-3 {
    border-radius: 0.5rem;
}

.text-center {
    text-align: center;
}

.mask {
    margin: 0;
    padding: 0;
    height: 100%;
    position:absolute;
    width: 100%;
    background-repeat: repeat;
}

.noPad {
    padding: 0;
}